@model Booking.Models.UserWithBookingModel.UserBooking

@{
    ViewData["Title"] = "Profile";
}

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.userBooking.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.userBooking.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.userBooking.Login)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.userBooking.Login)
    </dd>
</dl>

<div>My Bookings</div>
@{ if (Model.Bookings != null)
    {<h3>Active:</h3>
        foreach (var item in Model.Bookings)
            @if (DateTime.Now.Date < item.Enddate)
            {
                <ul>
                    <li>
                        From  @item.Begindate to @item.Enddate; number of room: @{Room rm = Model.rooms.FirstOrDefault(u => u.Id == item.Idofroom);}  @rm.Id .
                        In hotel: @Model.hotels.FirstOrDefault(h => h.Id == rm.HId).Name;
                    </li>
                </ul>}

                            {<h3>History:</h3>
                                foreach (var item in Model.Bookings)
                @if (DateTime.Now.Date > item.Enddate)
                {
                    <ul>
                        <li>
                            From  @item.Begindate to @item.Enddate; number of room: @{Room rm = Model.rooms.FirstOrDefault(u => u.Id == item.Idofroom);}  @rm.Id .
                            In hotel: @Model.hotels.FirstOrDefault(h => h.Id == rm.HId).Name;
                        </li>
                    </ul>}
                                    }
                                }
                                else
                                {
<p> No bookings yet!</p>
                                    }
                                }
