@model Booking.Room

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
    </dl>
</div>
<div>
    <form method="post" asp-action="Reserve" asp-controller="Booking">
        <p>
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" class="btn btn-success" value="Забронировать" />
        </p>
    </form>
</div>
